body {
  background: black;
}
#randomQuote {
 background: #000;
  color: #fff;
  text-align:center;
  p {
    text-align: right;
  }
  
 .quote:before{
     content: "\f10d";
   color: black;
   font-size: 12px;
  }
  
}